mixin nav-content()
  ul
    li: a(href="#drinks") Ποτά
    li: a(href="#wines") Κρασιά
    li: a(href="#beer").act Μπύρες
    li: a(href="#soda") Αναψυκτικά
    li: a(href="#accompaniment") Συνοδευτικά
    li: a(href="#coffe") Καφές
mixin contact()
  ul
    li: a(href="#") Προμηθευτές  

.mobile-nav
  +nav-content()

header
  .header-position
    
    
    nav.site-nav
      +nav-content()
      
    .contact  
      +contact()
      
    
    
    .mobile-nav-toggle: span
